[Desktop Entry]
Type=Application
Exec=/usr/local/bin/set-wallpaper.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Set Wallpaper
Comment=Cambia el fondo al iniciar sesión
